*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}
.container{
    max-width: 80%;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.option-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
.option-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.option-button.active,
.adv-option-button.active {
    background-color: #888; /* Darker gray */
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Adds slight glow */;
}

.option-button:focus,
.adv-option-button:focus {
    outline: none;
}

#text-input {
    border: 1px solid #ccc;
    min-height: 200px;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    resize: both; /* Allows manual resizing */
    overflow: auto; /* Ensures content remains visible */
    margin-top: 10px;
    width: 100%;
}
.input-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}
.input-wrapper label {
    margin-left: 5px;
    color: #666;
}
.select-wrapper{
    position: relative;
    width: 150px;
}
.select-wrapper select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    color: #555;
}
.select-wrapper::after {
    pointer-events: none;
}

.input-wrapper input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;
}
.input-wrapper input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}
.input-wrapper input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}
#fontName,
#fontSize {
    min-width: 120px; /* Increases width */
    padding: 5px;
    font-size: 14px;
}
